@model List<CoreBusiness.Product>

@section title
{
    <h3>Market</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                if (product.Quantity > 0)
                {
                    <tr>
                        <td>@product.Category?.Name</td>
                        <td>@product.Name</td>
                        <td>@product.Price?.ToString("c")</td>
                        <td>@product.Quantity</td>
                        <td>
                            <a class="btn btn-link" asp-controller="products" asp-action="edit" asp-route-id="@product.ProductId">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="products" asp-action="delete" asp-route-id="@product.ProductId">Delete</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}

<a class="btn btn-primary" asp-controller="products" asp-action="add">Add</a>